## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [4]:
import pandas as pd

In [5]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [22]:
data[['sex']].groupby(['sex']).size()

sex
Female    10771
Male      21790
dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [31]:
data[data.sex == 'Male']['age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [49]:
data[data['native-country'] == 'United-States'].shape[0] / data.shape[0]

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [138]:
std_age = data[['salary', 'age']].groupby(['salary']).std().rename(columns={'age': 'std_age'})
mean_age = data[['salary', 'age']].groupby(['salary']).mean().rename(columns={'age': 'mean_age'})

pd.merge(mean_age, std_age, how='inner', on='salary')

         mean_age    std_age
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [139]:
data[~data.education.isin(
    ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']) & data.salary == '>50К'].shape[
    0] == 0

True

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [96]:
import numpy as np

filtered = np.where((data['sex'] == 'Male') & (data['race'] == 'Asian-Pac-Islander'))
print(data.loc[filtered].describe())

              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  693.000000     693.000000     693.000000    693.000000    693.000000
mean    39.073593  166175.865801      11.245310   1827.813853    120.373737
std     12.883944   88552.952600       2.777463  10947.525528    472.917697
min     18.000000   14878.000000       1.000000      0.000000      0.000000
25%     29.000000   98350.000000       9.000000      0.000000      0.000000
50%     37.000000  147719.000000      11.000000      0.000000      0.000000
75%     46.000000  200117.000000      13.000000      0.000000      0.000000
max     90.000000  506329.000000      16.000000  99999.000000   2457.000000

       hours-per-week
count      693.000000
mean        41.468975
std         12.387563
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [104]:
np.where((data['sex'] == 'Male') & (data['salary'] == '>50К'))
male_data = data.loc[filtered]
married_man = male_data[male_data['marital-status'].str.match(r'^Married.*')].shape[0] / male_data.shape[0]
unmarried_man = 1 - married_man

print('Married man who earns >50К:', married_man)
print('Unmarried man who earns >50К:', unmarried_man)

Married man who earns >50К: 0.6421356421356421
Unmarried man who earns >50К: 0.3578643578643579

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [125]:
max_hours = data['hours-per-week'].max()
max_hours_workers = data[data['hours-per-week'] == max_hours]
max_and_rich_workers = max_hours_workers[max_hours_workers.salary == '>50K'].shape[0] / max_hours_workers.shape[0]
print('Max hours: ', max_hours)
print('Workers who work max hours: ', max_hours_workers.shape[0])
print('Percent of rich: ', max_and_rich_workers)

Max hours:  99
Workers who work max hours:  85
Percent of rich:  0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [143]:
data[['salary', 'native-country', 'hours-per-week']].groupby(['salary', 'native-country']).mean().sort_values(
    by=['native-country']).rename(columns={'hours-per-week': 'mean_hours-per-week'})

                       mean_hours-per-week
salary native-country
<=50K  ?                         40.164760
>50K   ?                         45.547945
<=50K  Cambodia                  41.416667
>50K   Cambodia                  40.000000
<=50K  Canada                    37.914634
...                                    ...
       United-States             38.799127
       Vietnam                   37.193548
>50K   Vietnam                   39.200000
<=50K  Yugoslavia                41.600000
>50K   Yugoslavia                49.500000

[82 rows x 1 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [147]:
conditions = [(data['age'] >= 16) & (data['age'] < 35), (data['age'] >= 35) & (data['age'] < 70),
              (data['age'] >= 70) & (data['age'] <= 100)]
values = ['young', 'adult', 'retiree']

data['age-group'] = np.select(conditions, values)

data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,age-group
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [169]:
age_group_by_salary = data[data.salary == '>50K'].groupby(['age-group']).size()

print(age_group_by_salary)

age_group_by_salary.idxmax()

age-group
adult      6240
retiree     113
young      1488
dtype: int64

'adult'

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [199]:
data.groupby(['occupation'])

def filter_func(df):
    mean_age_with_more_than_5hours = df[(df['hours-per-week'] > 5).groupby(df['occupation']).transform('all')][
    ['age', 'occupation']].groupby(['occupation']).mean()
    return mean_age_with_more_than_5hours[mean_age_with_more_than_5hours['age'] <= 40]

filter_func(data)

                    age
occupation
Armed-Forces  30.222222